/* 覆盖 antd 默认样式 start
------------------------------ */

/* 覆盖 antd 默认样式 end
------------------------------ */

.common {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 21, 41, 4%);
}

.common-modal {
  .ant-modal-body {
    max-height: 64vh;
    overflow-y: auto;
  }

  .ant-form-vertical {
    .ant-form-item-label {
      padding-bottom: 6px;
    }
  }
}
