/* 覆盖 antd 默认样式 start
------------------------------ */
p {
  margin: 0;
}

// table和list下的分页器边距重置
.ant-table-pagination.ant-pagination,
.ant-list-pagination {
  margin: 16px 16px 16px 0;
}

/* 覆盖 antd 默认样式 end
------------------------------ */

.common {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 21, 41, 4%);

  &__toolbar {
    padding: 14px 8px;
  }
}

.common-modal {
  .ant-modal-body {
    max-height: 64vh;
    overflow-y: auto;
  }
}
