.page {
  :global {
    .ant-descriptions-item-label {
      // text-align: right;
    }

    .ant-card-bordered:last-child {
      border-top: none;
    }

    .ant-card-head {
      min-height: 46px;
    }
  }
}

.modal {
  :global {
    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
      padding: 10px !important;
    }
  }

  .arrow {
    font-size: 20px;
    text-align: center;
  }
}
