@import "src/assets/scss/variables";

$duration: 300ms;
$cubic-bezier: cubic-bezier(0.2, 0.8, 0.2, 1);

%mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\20";
  background: #000;
}

.css-transition-header {
  position: sticky;
  top: 0;
}

.css-transition-main {
  height: calc(100% - $header-height);
  background-color: #000;

  &.no-header {
    height: 100%;
  }
}

.forward,
.back {
  &-enter,
  &-exit {
    position: fixed;
    top: $header-height;
    z-index: $route-transition-z-index;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    will-change: transform;
    touch-action: none;
    transform-origin: 0 0;
    animation-duration: $duration;
    animation-timing-function: $cubic-bezier;
    animation-fill-mode: both;

    &.no-header,
    &.css-transition-header {
      top: 0;
    }
  }
}

.forward-exit::before,
.back-enter::before {
  @extend %mask;

  transition: opacity $duration $cubic-bezier;
}

.forward {
  &-enter {
    z-index: $route-transition-z-index + 1;
    animation-name: forward-enter;
  }

  &-exit {
    animation-name: forward-exit;

    &::before {
      opacity: 0;
    }
  }

  &-exit-active {
    &::before {
      opacity: 0.2;
    }
  }
}

.back {
  &-enter {
    animation-name: back-enter;

    &::before {
      opacity: 0.2;
    }
  }

  &-enter-active {
    &::before {
      opacity: 0;
    }
  }

  &-exit {
    z-index: $route-transition-z-index + 1;
    animation-name: back-exit;
  }
}

.none {
  &-exit {
    display: none;
  }
}

@keyframes forward-enter {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes forward-exit {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes back-enter {
  0% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes back-exit {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
