.page {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}

.message {
  &__item {
    padding-right: 24px;
    padding-left: 24px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--ant-primary-1);
    }
  }
}

.details {
  &__header {
    position: relative;
    padding-top: 24px;
  }

  &__button {
    position: absolute;
    top: 24px;
    left: 8px;
  }

  &__title {
    text-align: center;
  }

  &__time {
    color: #666;
    text-align: center;
  }

  &__content {
    width: 50%;
    padding: 20px 0;
    margin: 0 auto;
  }
}
