.page {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}

.message {
  &__item {
    padding-right: 24px;
    padding-left: 24px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--ant-primary-1);
    }
  }
}
